.keys {
    display: flex;
    flex-wrap: wrap;
}

.key {
    border: 4px solid black;
    margin: 0.8rem;
    text-align: center;
    width: 40px;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 5px black;
    transition: all 0.07s;
    color: white;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc500;
    box-shadow: 0 0 10px #ffc600;
}

.sound {
    display: block;
    text-align: center;
}